name: DevSecOps CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: 1. Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 2. Build and Scan Image (Trivy)
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp:v1 .
          # รัน Scan ก่อน Push
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy image ${{ secrets.DOCKERHUB_USERNAME }}/myapp:v1

      - name: 3. Push Tagged Image to Registry
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/myapp:v1
