name: DevSecOps CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t node-remote-test . 

      - name: Stop and remove existing container
        run: |
          docker stop node-remote-test || true
          docker rm node-remote-test || true

      - name: Run new container
        run: |
          docker run -d \
            -p 8080:8080 \
            --name node-remote-test \
            node-remote-test
