name: DevSecOps CI Pipeline

on:
  push:
    branches:
      - Lab1

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: 2. Build and Scan Image (Trivy)
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp:v1 .
          # รัน Scan ก่อน Push
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy image ${{ secrets.DOCKERHUB_USERNAME }}/myapp:v1

      - name: Stop and remove existing container
        run: |
          docker stop node-remote-test || true
          docker rm node-remote-test || true

      - name: Run new container
        run: |
          docker run -d \
            -p 3000:3000 \
            --name node-remote-test \
            node-remote-test
